* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
}

html {
    font-size: 16px;
    background-color: #C7C700; /*rgb(231, 240, 106)*/
    font-family: Impact, Charcoal, sans-serif;
    margin: 0;
    color: #25004D;
    min-width: 300px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn {
    margin-bottom: 10px;
}

.main-content {
    margin: 10px;
    min-height: 400px;
}

.nav-bar{
    display: flex;
    background-color: #20007A;
    flex-wrap: wrap;
    padding: 3px;
    font-weight: bold;
    min-width: 350px;
}

.nav-bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFEA00;
}

.nav-bar a:hover {
    background-color: #FFEA00;
    transition: .5s ease;
    color: #3500C7;
}

.menu-geral{
    align-self: flex-start;
    padding: 3px;
}

.menu-geral a {
    padding: 3px;
    margin: 5px;
}

.menu-login{
    align-self: flex-end;
    position: absolute;
    right: 3%;    
    padding: 3px;
}

.menu-login a {
    padding: 3px;
    margin: 5px;
}

@media only screen and (max-width: 495px) {

    .menu-geral{
        display: block;
    }
    .menu-geral a{
        display: block;
    }

    .menu-login{
        align-self: flex-end;
    }

    .menu-login a {
        display: block;
    }

}

@media only screen and (max-width: 230px) {
    .nav-bar{
        display: block;
        height: 170px;
    }

    .menu-geral{
        display: block;
    }
    .menu-geral a{
        display: block;
    }

    .menu-login{
        align-self: flex-end;
        position: static;
    }

    .menu-login a {
        display: block;
    }

}
/*
table {
    border: 1px solid black;
    border-collapse: separate;
}

table tr th {
    background-color: #FFFE00;
    color: #3B007A;
}

table tr td {
    background-color: #E6E530;
    color: #25004D;
    width: fit-content;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.product-div {
    display: flex;
    padding: 5px;
    margin: 3px;
}
*/
form {
    margin-bottom: 15px;
}

footer {
    bottom: 0;
}


.carousel {
    min-height: 400px;
}   

.card {
    margin: 15px !important;
}

.checkout-cart-content {
    margin: 30px;
}

.user-signup-warning {
    max-width: fit-content;
    margin: 15px;
    margin-left: 0px;
}